MONGODB_URI=mongodb+srv://username:password@cluster-url/?retryWrites=true&w=majority&appName=Cluster0
PASS_SEC=your-pass-secret
JWT_SEC=your-jwt-secret
NEXT_PUBLIC_PASS_SEC=your-pass-secret
NEXT_PUBLIC_JWT_SEC=your-jwt-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_API_KEY=your-cloudinary-api-key
NEXT_PUBLIC_API_URL=https://your-domain.vercel.app/api
