# Node modules
node_modules/

# Output
dist/

# Env
.env
.env.local
.env.*
!.env.sample
!.env.example

# Logs
*.log
logs/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# IDE/editor settings
.vscode/
.idea/
