@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
  padding: 0;
}

@keyframes move {
  10% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-40px);
  }
  60% {
    transform: translateY(-90px);
  }
  90% {
    transform: translateY(-140px);
  }
  100% {
    transform: translateY(-140px);
  }
}

.animate-move {
  animation: move 8s ease-in-out infinite alternate;
}
